.signin-div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
    @media only screen and (max-width:480px){
       width: 80%;
    }
    .signin-wrap{
        background-color: white;
        margin:5px;
        padding: 45px;
        border-radius: 25px;
        @media only screen and (max-width:480px){
            padding: 25px;
            margin: 8px;
            width: 80%;
        }
        h3{
            font-size: 40px;
            margin-bottom: 3%;
            font-weight: 600;
            @media only screen and (max-width:480px){
                font-size: 30px;
            }
        }
        .signin-input{
            display: flex;
            flex-direction: column;
            input{
                border: 1px solid lightgray;
                outline: none;
                font-size: 20px;
                padding: 20px;
                border-radius: 10px;
                width: 350px;
                margin: 10px 0;
                color: gray;
                @media only screen and (max-width:480px){
                   width: 80%;
                }
            }
            button{
                color:white;
                background-color: teal;
                border-radius: 10px;
                border: none;
                outline: none;
                padding: 10px;
                font-size: 20px;
                margin: 5px 0;
                cursor: pointer;
            }
            .new-user{
                display: flex;
                font-size: 25px;
                a{
                    color: blue;
                    font-size: 15px;
                    padding: 3px;

                }
            }
        }
    }
}